*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display:flex;
    justify-content: space-between;
}
.all-img{
    display:flex;
    flex-direction: column;

}
.all-img img{
    height:20vh;
    width:400px;
    object-fit: cover;
    cursor:pointer;
}
.preview-img{
    height:100vh;
}
.current-img{
    height:100%;
    width:100%;
    object-fit: cover;
}
/* dynamic class */
.animate-img{
    opacity: 0.5;
    animation: animate-img 0.4s ease-in-out forward;
}
@keyframes animate-img {
    100%{
        opacity:1;
    }
}
@media only screen and (max-width:600px){
    .wrapper{
        flex-direction: column;
    }
    .current-img{
        width:100%;
    }
}